@using System.Linq
@model List<B2BWebApp.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content">
    <div class="page-width">
        @foreach (var product in Model)
        {
            @Html.Partial("_ProductCardPartial", product);
        }
    </div>
</main>

