@model B2BWebApp.ViewModel.ProductsViewModel

@{
    ViewData["Title"] = "Products |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content">
    <div class="container">

        <div class="raised text-center" id="filter-bar">
            <button class="btn btn-default">Male</button>
            <button class="btn btn-default">Female</button>
            <button class="btn btn-default">Recently Added</button>
            <button class="btn btn-default">Accessories</button>
            <button class="btn btn-default">Hats</button>
            <button class="btn btn-default">Most Sold</button>
        </div>

        <div class="raised" id="search-input">
            <input type="text" class="search-query form-control" placeholder="Search" />
        </div>

    </div>

    <div class="container cart pull-right raised">
        <div class="row cart-title">
            Summary
        </div>
        <div class="row panel list-group">
            @Html.Partial("_ShoppingCartPartial")
        </div>
        <div class="row cart-action">
            <button class="btn btn-danger">CHECKOUT</button>
        </div>
    </div>

    <div class="page-width container text-center" id="collection">
        @Html.Partial("_ProductPagePartial", Model.Products.ProductList)
    </div>
    <div style="text-align:center; margin-top: 2em; margin-bottom:2em">
        <button class="btn btn-primary" id="btn-load-more" data-request-url="@Url.Action("GetNextPage", "Products")">
            Show more
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <span style="visibility:hidden" id="current-page" data-page-nr="1" />
        <span style="visibility:hidden" id="max-page-count" data-page-nr="@Model.PageCount" />
    </div>

</main>

