@using System.Linq
@model B2BWebApp.ViewModel.ProductsViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content">
    <nav class="navbar navbar-default">
        <div class="container">
            <button class="btn btn-default navbar-btn">Male</button>
            <button class="btn btn-default navbar-btn">Female</button>
            <button class="btn btn-default navbar-btn">Recently Added</button>
            <button class="btn btn-default navbar-btn">Accessories</button>
            <button class="btn btn-default navbar-btn">Hats</button>
            <button class="btn btn-default navbar-btn">Most Sold</button>
        </div>
    </nav>

    <div id="search-input">
        <input type="text" class="search-query form-control" placeholder="Search" />
    </div>

    <div style="visibility:hidden">
        Current page: <span id="current-page">1</span>
        Max page: @Model.PageCount
    </div>

    <div class="page-width" id="collection">

        @Html.Partial("_ProductPagePartial", Model.Products.ProductList)

    </div>
    <div style="text-align:center; margin-top: 2em;">
        <button class="btn btn-primary" id="btn-loadMore" data-request-url="@Url.Action("GetNextPage", "Products")">
            Show more
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
    </div>
</main>

