body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.raised {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar-brand {
    padding: 4px;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    transition: background-color 0.4s ease;
    background-color: #fff !important;
}

.navbar img {
    height: 100%;
}

#mainNavbar #cart {
    background-color: #d9534f;
}

#filter-bar {
    padding: 15px 0 15px 0;
    margin-top: 10px;
}

#filter-bar button {
    width: 16%;
}

.product-card {
    width: 370px;
    height: 330px;
    display: inline-block;
    margin: 5px;
}

    .product-card .title {
        padding: 4px;
        font-weight: bold;
        font-size: 16px;
    }

    .product-card .content {
        height: 255px;
        overflow-y: hidden;
    }

    .product-card .image, .variants {
        width: 50%;
        float: left;
        padding: 0 5px 0 5px;
    }

    .product-card img {
        max-height: 100%;
        max-width: 100%;
    }

    .product-card .variants {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
    }

    /*.product-card .action {
    }*/

    .product-card button {
        margin: 4px;
    }

.table-xtra-condensed > thead > tr > th,
.table-xtra-condensed > tbody > tr > th,
.table-xtra-condensed > tfoot > tr > th,
.table-xtra-condensed > thead > tr > td,
.table-xtra-condensed > tbody > tr > td,
.table-xtra-condensed > tfoot > tr > td {
    padding: 2px;
}

.btn {
    border-radius: 0;
}

#search-input {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#search-input .search-query {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#btn-load-more {
    font-weight: bolder;
    padding-left: 5em;
    padding-right: 5em;
}

    #btn-load-more i {
        margin-left: 4px;
    }

.cart {
    width: 300px;
}

    .cart .cart-title {
        background-color: #f2f2f2;
        padding: 10px
    }

    .cart .cart-action {
        padding: 0 10px 10px 10px;
    }

        .cart .cart-action button {
            width: 100%;
            font-weight: 600;
        }

    .cart a {
        border: none;
    }